h1 {
    font-family: 'Permanent Marker', 'Shadows Into Light';
    font-size: 50px;
    position: absolute;
    top: 0px;
    left: 800px;
    
    z-index: 3;
}

#preview {
    position: absolute;
    left: 0px;
    top: 200px;
    z-index: 3;
}

#next {
    position: absolute;
    right: 0px;
    top: 200px;
    z-index: 3;
}

#image {
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}
